<?xml version="1.0" encoding="UTF-8"?>
<widget 
	xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "net.faithoflife.SKC"
	version = "2.0.5">
	
	<name>
		Sayeda Khadija Centre
	</name>
	
	<description>
		Get information on what's happening at the Sayeda Khadija Centre 
	</description>

	<author href="http://www.faithoflife.net" email="faithoflifedev@gmail.com">
		Faith of Life Network - Developer
	</author>
	
	<access uri="*" />

	<icon src="assets/icon72.png" width="72" height="72" />
	<icon src="assets/icon48.png" width="48" height="48" />
	<icon src="assets/icon36.png" width="36" height="36" />

	<icon src="assets/icon57.png" width="57" height="57"/>
	<icon src="assets/icon72.png" width="72" height="72"/>
	<!-- <icon src="assets/icon114.png" width="114" height="114"/> -->

    <gap:splash src="assets/splash.png" width="320" height="480" />
    <gap:splash src="assets/retina.png" width="640" height="960" />
    <gap:splash src="assets/ipadportrait.png" width="768" height="1004"/>
	<gap:splash src="assets/ipadlandscape.png" width="1024" height="748"/>

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- <preference name="phonegap-version" value="1.4.1" /> -->
	<preference name="orientation" value="default" />
</widget>